APP_PORT=8080
PORT=8080
APP_ENV=development
UPLOAD_DIR=./uploads
DB_HOST=postgres
DB_PORT=5432
DB_USER=chentoons
DB_PASSWORD=chentoons123
DB_NAME=chentoons_db
DB_SSLMODE=disable
CORS_ORIGIN=*
# En Render puedes usar DATABASE_URL en lugar de DB_HOST/DB_USER/etc.
# DATABASE_URL=postgresql://usuario:password@host:5432/db
